header {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
}

.top-header-position {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

h1.main-heading {
  color: #07051a;
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  letter-spacing: 5px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

h2.sub-heading {
  color: red;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  line-height: .5;
  margin-top: -1rem;
  margin-bottom: 3rem;
}

img.police-icon-head {
  width: 200px;
}

form{
  background: white;
  border: 4px solid white;
  border-radius: 50px;
  box-sizing: border-box;
  height: 100px;
  left: 50%;
  padding: 5px;
  position: relative;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 100px;
}

input{
  border: 0;
  border-radius: 40px;
  display: none;
  font-size: 2rem;
  height: 85px;
  left: 0;
  outline: 0;
  padding: 0 20px;
  position: absolute;
  top: 0;
  width: 100%;;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.fa{
  box-sizing: border-box;
  color: #07051a;
  font-size: 1.2em;
  height: 85px;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 1s;
  width: 85px;
}

form:hover,
form:valid {
  cursor: pointer;
  width: 600px;
}

form:hover input,
form:valid input {
  display: block;
}

form:hover .fa,
form:valid .fa{
  color: #07051a;
}

section.search_bar_section {
  margin-bottom: 14.1rem;
}

header.header_section {
  display: flex;
}

