.test-positioning {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.crimes-positioning {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.number_year_style {
  color: red;
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: .1;
  margin-top: .5rem;
  text-align: center;
}

.title_crimes_area {
  font-size: 3rem;
  text-align: center;
}


h2.positioning_h_two_show_page {
  text-align: center;
}

.graph_section {
  h2 {
    margin-bottom: 2rem;
  }
}

.pie_chart_section {
  margin-top: 2rem;
}

img.police_icon_home_page {
  margin-left: .5rem;
  width: 25px;
}

.home_page_icon {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.year_style {
  color: red;
  opacity: .75;
}

.home_button_style {
  color: black;
  margin-right: .5rem;
}

.icons_position {
  display: flex;
  align-items: center;
  color: black;
}


.testing-flex {
  display: flex;
  width: 100%;
  div {
    flex-grow: 14;
  }
  h2 {
    flex-grow: 1;
  }
}

.playing {
  align-items: center;
  display: flex;
}

select {
  background: transparent;
  border: none;
  color: red;
  font-size: 3rem;
  font-weight: 500;
  height: 90px;
  margin-left: -20px;
  padding: 10px 0 10px 30px;
  width: 150px;
}
