@import 'landing-page-search';
@import 'map';
@import 'spinner';
@import 'footer';
@import 'show-result';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body { 
  align-items: center;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,142,251,0.9668242296918768) 100%);
  display: flex;
  justify-content: center;
  margin: 0; 
  padding: 0;
  position: relative;           // I have to use this option if I want my footer at the bottom of page.
}

h2 {
  color: #07051a;
}