@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
.chart {
  padding: 1rem;
  border-radius: 12px;
  background-color: #f8dfff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10rem;
  text-align: center;
}

.chart-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.chart-bar__inner {
  border: 1px solid #313131;
  border-radius: 12px;
  background-color: #c3b4f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  width: 100%;
}

.chart-bar__fill {
  background-color: #4826b9;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 0.5rem;
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4%;
}

.top-header-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
}

h1.main-heading {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 5px;
  font-size: 4rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #07051a;
}

h2.sub-heading {
  font-family: 'Oswald', sans-serif;
  color: red;
  font-size: 2rem;
  line-height: .5;
  margin-top: -1rem;
  margin-bottom: 3rem;
}

img.police-icon-head {
  width: 200px;
}

form {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100px;
  height: 100px;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  border: 4px solid white;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 2rem;
  border-radius: 40px;
  padding: 0 20px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.fa {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 85px;
  height: 85px;
  position: absolute;
  top: 0;
  right: 0;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  -webkit-transition: all 1s;
  transition: all 1s;
}

form:hover,
form:valid {
  width: 600px;
  cursor: pointer;
}

form:hover input,
form:valid input {
  display: block;
}

form:hover .fa,
form:valid .fa {
  color: #07051a;
}

section.search_bar_section {
  margin-bottom: 14.1rem;
}

header.header_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
}

div.mapboxgl-map {
  border-radius: 10px;
  border: 1px solid red;
}

.market-icon {
  width: 30px;
  height: 30px;
  color: red;
}

.spinner_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92.5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -5rem;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 80px 80px;
          transform-origin: 80px 80px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #01045c;
  margin: -8px 0 0 -8px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 126px;
  left: 126px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 136px;
  left: 112px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 142px;
  left: 96px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 144px;
  left: 80px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 142px;
  left: 64px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 136px;
  left: 48px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 126px;
  left: 34px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 112px;
  left: 24px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer {
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 150;
  color: #07051a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  color: #07051a;
}

.test-positioning {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.crimes-positioning {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.number_year_style {
  color: red;
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: .1;
  margin-top: .5rem;
  text-align: center;
}

.title_crimes_area {
  font-size: 3rem;
  text-align: center;
}

h2.positioning_h_two_show_page {
  text-align: center;
}

.graph_section h2 {
  margin-bottom: 2rem;
}

.pie_chart_section {
  margin-top: 2rem;
}

img.police_icon_home_page {
  margin-left: .5rem;
  width: 25px;
}

.home_page_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.year_style {
  color: red;
  opacity: .75;
}

.home_button_style {
  color: black;
  margin-right: .5rem;
}

.icons_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.testing-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.testing-flex div {
  -webkit-box-flex: 14;
      -ms-flex-positive: 14;
          flex-grow: 14;
}

.testing-flex h2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.playing {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

select {
  background: transparent;
  border: none;
  color: red;
  font-size: 3rem;
  font-weight: 500;
  height: 90px;
  margin-left: -20px;
  padding: 10px 0 10px 30px;
  width: 150px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  background: radial-gradient(circle, white 0%, rgba(0, 142, 251, 0.966824) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}
/*# sourceMappingURL=main.css.map */